{% trans_default_domain 'FOSUserBundle' %}

<form method="post" action="{{ path('fos_user_change_password') }}" role="form" class=" fos_user_change_password form-horizontal" novalidate="novalidate">
    <div class="box-body">
        {{ display_errors.all_form_errors(form) }}
        {% include ':default:message_flashbag.html.twig' %}
        <div class="form-group {% if form.current_password.vars.errors|length %}has-error{% endif %}">
            {{ form_label(form.current_password, 'Mot de passe actuel'|trans({}, 'commun'), { 'label_attr':{'class':'col-sm-2 control-label'} }) }}
            <div class="col-sm-6">
                {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'maxlength': '250'} }) }}
            </div>
        </div>
        <div class="form-group {% if form.plainPassword.first.vars.errors|length %}has-error{% endif %}">
            {{ form_label(form.plainPassword.first, 'Nouveau mot de passe'|trans({}, 'commun'), { 'label_attr':{'class':'col-sm-2 control-label'} }) }}
            <div class="col-sm-6">
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'maxlength': '250'} }) }}
            </div>
        </div>
        <div class="form-group {% if form.plainPassword.first.vars.errors|length %}has-error{% endif %}">
            {{ form_label(form.plainPassword.second, 'Vérification'|trans({}, 'commun'), { 'label_attr':{'class':'col-sm-2 control-label'} }) }}
            <div class="col-sm-6">
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'maxlength': '250'} }) }}
            </div>
        </div>
    </div><!-- /.box-body -->
   <div class="box-footer">
        <div class="col-md-8 col-md-offset-4">
            <div class="col-xs-2">
                <button class="btn btn-warning btn-flat pull-right" type="reset">Réinitialiser</button>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary btn-flat" type="submit">{{ 'change_password.submit'|trans }}</button>
            </div>
        </div>
    </div><!-- /.box-footer -->
    {{ form_widget(form._token) }}
</form>
