{% extends 'front/base.html.twig' %}

{% block additional_stylesheet %}
  <link rel="stylesheet" href="{{ asset('assets/css/lobby/lobby.css') }}" />
{% endblock additional_stylesheet %}

{% block additional_javascript %}
{% if lastLesson %}
<script type="text/javascript">
$(document).ready(function() {
$('html, body').animate({
  scrollTop: $("#lesson-{{ lastLesson }}").offset().top - 200
  }, 1000);

setTimeout(function() {
  $("#lesson-{{ lastLesson }}").parent().effect("highlight", {}, 1000);
  }, 1000);
});
</script>
{% endif %}
{% endblock additional_javascript %}

{% block header_content %}
  <ul id="course-menu">
    {% for course in allCourses %}
      {% if loop.index != 1 %} <li class="separator">&middot;</li> {% endif %}

      <li class="{% if course == currentCourse %}current-course{% endif %}">
        <a href="{{ path('homepage', {'course': course.id}) }}">
          {{ course.title }}

          <span>
            {{ course.subtitle }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock header_content %}

{% block body %}
<div class="container"
     id="container"
  >
  <div class="row">
    <div class="col-sm-2"></div> <!-- col -->
    <div class="col-sm-10" id="title" >
      <h1>
        Duolingros
      </h1>
      <h2>
        {{ quote }}
      </h2>
    </div> <!-- col -->
  </div> <!-- row -->
    <div id="book-lesson-list">
      {% include 'front/lobby/book_lesson_list.html.twig'
         with {'bookLessons': currentCourse.bookLessonList} %}
    </div>
</div> <!-- container -->
{% endblock body %}
