<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}BBA-FEC{% endblock title %}
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/dist/css/skins/skin-blue.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}" />
    {% endblock stylesheet %}

    {% block javascripts %}
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/dist/js/app.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"> </script>
    <script src="{{ asset('assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"> </script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"> </script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('.alert.fading').delay(250).fadeIn('normal', function() {
            $(this).delay(2000).fadeOut();
        });
    });
    </script>
    {% endblock javascripts %}
</head>

<body class="hold-transition skin-blue sidebar-mini" style="background-color: #ecf0f5;">
{% block body %} {% endblock body %}

{% block flash_messages %}
    <div id="alerts">
        {% if app.session.flashBag.has('error') %}
            {% for msg in app.session.flashBag.get('error') %}
                <div class="alert alert-error fading" style="display: none;"> {{ msg }} </div>
            {% endfor %}
        {% endif %}

        {% if app.session.flashBag.has('success') %}
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success fading" style="display: none;"> {{ msg }} </div>
            {% endfor %}
        {% endif %}
        <div id="alert_danger_js" class="alert alert-error" style="display: none;"></div>
        <div id="alert_success_js" class="alert alert-success" style="display: none;"></div>
    </div>
{% endblock flash_messages %}
</body>
</html>
