{% for complaint in complaints %}
  <div class="box" style="margin: 10px">
    <div class="box-header">
      <h3 class="box-title"> {{ complaint.exercise.text }} </h3>
    </div> <!-- box-header -->

    <div class="box-body">
      <form action="{{ path('admin_complaint') }}"
            method="POST"
            >
            <div class="row">
              <div style='color: red' class="col-md-10" style="font-size: 12pt"> {{ complaint.propositionText }} </div> <!-- col -->
              <div class="col-md-2">
                <button type='submit' class='btn btn-primary'>
                  Ouki
                </button>
                <a href="{{ path('complaint_delete', {'complaint': complaint.id}) }}"
                   class='btn btn-danger'
                   >
                   Tropa
                </a>
              </div> <!-- col -->
            </div> <!-- row -->
            <div class="row">
              {% for answer in complaint.exercise.answerList %}
                <div class="col-md-12">
                  <input type='hidden' value='{{ complaint.id }}'
                     name='{{ complaint.exercise.text }}[_complaint]'
                     class='exercise-text'
                     >
                     <textarea rows="4" type='text'
                               name='{{ complaint.exercise.text }}[{{ loop.index }}]'
                               style='width: 100%; font-size: 13pt;'
                               exercise-text='{{ complaint.exercise.text }}'
                               proposition-text='{{ complaint.propositionText }}'
                               class='form-control proposition'
                               >{{ answer }}</textarea>
                </div> <!-- col -->
              {% endfor %}
            </div> <!-- row -->
      </form>
    </div> <!-- box-body -->
  </div> <!-- box-body -->
{% endfor %}
