{% extends 'front/base.html.twig' %}

{% macro printPropositionRow(proposition) %}
  <li>
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <button type="button" class="remove-proposition">
              X
          </button>
        </div> <!-- col -->
        <div class="col-sm-3">
          {{ form_row(proposition.text) }}
        </div> <!-- col -->
        <div class="col-sm-1">
          {{ form_row(proposition.image) }}
        </div> <!-- col -->
        <div class="col-sm-1">
          <i class="fa fa-3x fa-clipboard copy-image" style="cursor: pointer"></i>
        </div> <!-- col -->
        <div class="col-sm-3">
          <img src="
                {% if proposition.vars.value is not null %}
                  {{ proposition.vars.value.image }}
                {% endif %}
                "
               style="max-width: 150px; max-height: 150px"
          >
        </div> <!-- col -->
        <div class="col-sm-2">
          {{ form_row(proposition.rightAnswer) }}
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </li>
{% endmacro %}

{% macro printQuestionRow(question) %}
  {% import _self as formMacros %}

  <li>
    <div class="box">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <button type="button" class="remove-question">
              X
            </button>
          </div> <!-- col -->
          <div class="col-sm-5">
            {{ form_row(question.text) }}
          </div> <!-- col -->
          <div class="col-sm-3">
            {{ form_row(question.noPictures) }}
          </div> <!-- col -->
          <div class="col-sm-2">
            {{ form_row(question.difficulty) }}
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->

      <h4>
        {{ form_label(question.propositions) }}
      </h4>

      <ul class="proposition-list"
          data-prototype="{{ formMacros.printPropositionRow(question.propositions.vars.prototype)|e('html_attr') }}">

        {% for proposition in question.propositions %}
          {{ formMacros.printPropositionRow(proposition) }}
        {% endfor %}
      </ul>
    </div> <!-- box -->
  </li>
{% endmacro %}

{% macro printAnswerRow(answer) %}
  <li>
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <button type="button" class="remove-answer">
              X
          </button>
        </div> <!-- col -->
        <div class="col-sm-11">
          {{ form_row(answer) }}
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </li>
{% endmacro %}

{% macro printTranslationRow(translation) %}
  {% import _self as formMacros %}

  <li>
    <div class="box">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <button type="button" class="remove-translation">
              X
            </button>
          </div> <!-- col -->
          <div class="col-sm-8">
            {{ form_row(translation.text) }}
          </div> <!-- col -->
          <div class="col-sm-2">
            {{ form_row(translation.difficulty) }}
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->

      <h4>
        {{ form_label(translation.answers) }}
      </h4>

      <ul class="answer-list"
          data-prototype="{{ formMacros.printAnswerRow(translation.answers.vars.prototype)|e('html_attr') }}">

        {% for answer in translation.answers %}
          {{ formMacros.printAnswerRow(answer) }}
        {% endfor %}
      </ul>
    </div> <!-- box -->
  </li>
{% endmacro %}

{% import _self as formMacros %}

{% block additional_stylesheet %}
  <link rel="stylesheet" href="{{ asset('assets/css/admin/lesson.css') }}" />
{% endblock additional_stylesheet %}

{% block additional_javascript %}
  <script src="{{ asset('assets/js/admin/lesson.js') }}"> </script>
{% endblock additional_javascript %}

{% block body %}
  <div class="container">
    {{ form_start(form) }}
    {{ form_widget(form.title) }}

    <input type="submit" value="OKI">

    <h3>
      {{ form_label(form.questions) }}
    </h3>

    <ul class="question-list"
        data-prototype="{{ formMacros.printQuestionRow(form.questions.vars.prototype)|e('html_attr') }}">

      {% for question in form.questions %}
        {{ formMacros.printQuestionRow(question) }}
      {% endfor %}
    </ul>

    <h3>
      {{ form_label(form.translations) }}
    </h3>

    <ul class="translation-list"
        data-prototype="{{ formMacros.printTranslationRow(form.translations.vars.prototype)|e('html_attr') }}">

      {% for translation in form.translations %}
        {{ formMacros.printTranslationRow(translation) }}
      {% endfor %}
    </ul>

    <input type="submit" value="OKI">

    {{ form_end(form) }}
  </div>
{% endblock body %}
