{% extends 'front/base.html.twig' %}

{% macro printPropositionRow(proposition) %}
  <li>
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <button type="button" class="remove-proposition">
              X
          </button>
        </div> <!-- col -->
        <div class="col-sm-4">
          {{ form_row(proposition.text) }}
        </div> <!-- col -->
        <div class="col-sm-4">
          {{ form_row(proposition.image) }}
        </div> <!-- col -->
        <div class="col-sm-3">
          {{ form_row(proposition.rightAnswer) }}
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </li>
{% endmacro %}

{% macro printQuestionRow(question) %}
  {% import _self as formMacros %}

  <div class="box">
    <li>
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <button type="button" class="remove-question">
              X
            </button>
          </div> <!-- col -->
          <div class="col-sm-11">
            {{ form_row(question.text) }}
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->

      <h4>
        {{ form_label(question.propositionList) }}
      </h4>

      <ul class="proposition-list"
          data-prototype="{{ formMacros.printPropositionRow(question.propositionList.vars.prototype)|e('html_attr') }}">

        {% for proposition in question.propositionList %}
          {{ formMacros.printPropositionRow(proposition) }}
        {% endfor %}
      </ul>
    </li>
  </div> <!-- box -->
{% endmacro %}

{% import _self as formMacros %}

{% block additional_stylesheet %}
  <link rel="stylesheet" href="{{ asset('assets/css/admin/lesson.css') }}" />
{% endblock additional_stylesheet %}

{% block additional_javascript %}
  <script src="{{ asset('assets/js/admin/lesson.js') }}"> </script>
{% endblock additional_javascript %}

{% block body %}
  <div class="container">
    {{ form_start(form) }}
    {{ form_widget(form.title) }}

    <h3>
      {{ form_label(form.questionList) }}
    </h3>

    <ul class="question-list"
        data-prototype="{{ formMacros.printQuestionRow(form.questionList.vars.prototype)|e('html_attr') }}">

      {% for question in form.questionList %}
        {{ formMacros.printQuestionRow(question) }}
      {% endfor %}
    </ul>

    <input type="submit" value="OKI">

    {{ form_end(form) }}
  </div>
{% endblock body %}
