{% extends 'front/base.html.twig' %}

{% block additional_stylesheet %}
  <link rel="stylesheet" href="{{ asset('assets/css/study.css') }}" />
{% endblock additional_stylesheet %}

{% block additional_javascript %}
  <script src="{{ asset('assets/js/study.js') }}"> </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">

let playgroundApp;

function whenDocumentReady(fn) {
  if (document.readyState != 'loading') {
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}

whenDocumentReady(function () {
  Study.startLesson({{ lesson.id }});
});

  </script>
{% endblock additional_javascript %}

{% block body %}
<div class="container" id="playground">
  <div class="row">
    <div class="col-sm-1"></div> <!-- col -->
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-2"></div> <!-- col -->
        <div class="col-sm-10" id="title" >
          <h1>
            {{ lesson.title|capitalize }}
          </h1>
          <h2>
            {{ lesson.bookLesson.title }}
          </h2>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="row" id="text-row">
          <div class="row" id="progress" >
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active"
                   id="progress-bar"
                   role="progress-bar"
                   v-bind:style="{ width: progress + '%' }"
                   >
              </div>
            </div>
          </div>

          <div class="row" v-if="doingTranslation()">
            <div class="col-sm-6">
              <textarea
                     cols="50"
                     rows="4"
                     id="translation"
                     readonly="true"
                     v-bind:value="exercise.text"
              >
              </textarea>
            </div> <!-- col -->
            <div class="col-sm-6">
              <textarea
                     cols="50"
                     rows="4"
                     ref="proposition"
                     id="proposition"
                     v-model="proposition"
                     placeholder="réponse ..."
                     :readonly="blockPropositionInput"
              >
              </textarea>
            </div> <!-- col -->
          </div> <!-- row -->

          <div class="question-container with-pictures"
               v-if="doingQuestion() && exercise && !exercise.isNoPictures">
            <h2>
              ${ exercise.text }
            </h2>

            <hr>

            <div class="proposition-list">
              <div class="proposition"
                   v-for="proposition in exercise.propositionList"
                   v-on:click="selectProposition(proposition)"
                   v-bind:class="{
                      'selected': ! readingRemarks() && selectedProposition
                                  && proposition.id == selectedProposition.id,
                      'selected-but-wrong': readingRemarks() && selectedProposition
                                            && proposition.id == selectedProposition.id
                                            && selectedProposition.id != rightAnswer.id,
                      'right': readingRemarks()
                               && proposition.id == rightAnswer.id
                   }"
                   >
                <span class="proposition-text">
                  ${ proposition.text }
                </span>

                <img v-bind:src="proposition.image">
              </div>
            </div>
          </div>

          <div class="question-container no-pictures row"
               v-if="doingQuestion() && exercise && exercise.isNoPictures">
            <div class="col-sm-4 exercise-text">
              <h2>
                ${ exercise.text }
              </h2>
            </div> <!-- col -->

            <div class="proposition-list col-sm-8">
              <div class="proposition"
                   v-for="proposition in exercise.propositionList"
                   v-on:click="selectProposition(proposition)"
                   v-bind:class="{
                      'selected': ! readingRemarks() && selectedProposition
                                  && proposition.id == selectedProposition.id,
                      'selected-but-wrong': readingRemarks() && selectedProposition
                                            && proposition.id == selectedProposition.id
                                            && selectedProposition.id != rightAnswer.id,
                      'right': readingRemarks()
                               && proposition.id == rightAnswer.id
                   }"
                   >
                <span class="proposition-text">
                  ${ proposition.text }
                </span>
              </div>
            </div>
          </div>

          <hr>

          <button class="btn btn-lg btn-primary pull-right ripple"
                  id="answer-question"
                  v-on:click="sendProposition()"
                  v-if="! readingRemarks()"
                  >
            Envoyer
          </button>

          <button class="btn btn-lg btn-success pull-right ripple"
                  id="answer-question"
                  v-on:click="startNextExercise()"
                  v-if="readingRemarks()"
                  >
            Passer à la suite
          </button>
      </div> <!-- row -->

      <div class="row">
        <div class="jumbotron"
             id="correction-status"
             v-bind:class="{
                'not-ok': currentCorrection && !currentCorrection.isOk,
                'ok': currentCorrection && currentCorrection.isOk,
             }"
             style="display: none"
          >
          <h1 class="display-3"
              v-bind:class="{
                 'not-ok': currentCorrection && !currentCorrection.isOk,
                 'ok': currentCorrection && currentCorrection.isOk,
              }"
              >
            ${ correctionStatus }
          </h1>

          <hr />

          <p class="remark" v-html="remark" v-for="remark in remarks">
          </p>
        </div>
      </div> <!-- row -->

      <div class="row">
          <button class="btn btn-warning btn-lg pull-right ripple"
                  id="complain-button"
                  style="display: none"
                  v-on:click="complain()"
                  >
            Euuuh bah si lol ...
          </button>
      </div> <!-- row -->

      <div id="lesson-conclusion-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1>
              ${ conclusionHeader }
              </h1>
            </div>
            <div class="modal-body">
              <p>
              ${ conclusionBody }
              <i v-if="goodRun"
                 class="fa fa-thumbs-up fa-2x fa-fw"
                 style="color: green"
                 ></i>
              </p>
            </div>
            <div class="modal-footer">
              <p>
              ${ conclusionFooter }
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
{% endblock body %}
